@import url(./style.css);

.contact-form{
    background: linear-gradient(to bottom right, #125112, green);
    text-align: center;
    padding: 5rem;
}   
.contact-form .div{
    margin: 0 auto;
    padding: 3rem;
    background: #eee;
    max-width: 600px;
    border-radius: 5px;
}
.contact-form h2{
    color: #333;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.contact-form label{
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
}
.contact-form input, .contact-form textarea{
    width: 400px;
    height: 40px;
    padding: .8rem;
    margin-bottom: 1.5rem;
    resize: none;
    border: 1.5px solid lightgray;
    outline: none;
    border-radius: 2.5px;
}
.contact-form textarea{
    height: 100px;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color: green;
}
.contact-form button{
    padding: 1.8rem 3.8rem;
    font-family: 'Raleway';
    font-weight: 600;
    background: green;
    color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover{
    background: #027002;
}

/* MEDIA */
@media (max-width: 550px){
    .contact-form input, .contact-form textarea{
        max-width: 100%;
    }
    .contact-form h2{
        font-size: 3rem;
    }
    .contact-form{
        padding: 1rem;
    }
}